* {
  margin: 0;
}
.principal {
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(14, 34, 87, 0.699);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.397);
  width: 500px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  background: radial-gradient(
    circle,
    rgba(48, 49, 150, 0.61) 0%,
    rgba(70, 66, 66, 0.87) 100%
  );
}
select {
  margin: 5px;
  border: 2px solid #000;
  width: 50px;
  padding: 5px;
  cursor: pointer;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.397);
  width: 200px;
}
.btn {
  background-color: #000;
  color: #fff;
  font-weight: 700;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.mensaje {
  margin-top: 20px;
  color: #000000;
  font-weight: 700;
}
